
*.cine
*.avi
*.chd
*.pdf
new 1.txt
new 1.txt.bak
preamble.txt
preamble.txt.bak
reading groups.txt
*.docx
*.pptx
running bayesraits.txt
running bayesraits.txt.bak
*.wav
tchakamau/Untitled.mph
untitled.png
shape_testing.npy
ffmpeg-4.1.tar.bz2
__pycache__/Functions.cpython-37.pyc
__pycache__/my_funs.cpython-37.pyc
*checkpoint.ipynb
kskedlaya.org/putnam-archive/index.html.orig
kskedlaya.org/putnam-archive/index.html
.ipynb_checkpoints/Video_reader_functs-- new videos-Copy2-checkpoint.ipynb
tchakamau/Scans_of_balls/~$FG-w1x-01.21_002.xlsx
